<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <add name="scottEntities" connectionString="metadata=res://*/Model680.csdl|res://*/Model680.ssdl|res://*/Model680.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=scott;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


</configuration>
